{{ define "main" }}
  {{ $page := .}}
  {{ $section := .Site.GetPage "section" .Section }}

  <!-- Only show site-header on home and section pages -->
  {{ if or (compare.Eq .Kind "home") (compare.Eq .Kind "section") }}
    {{ partial "site-header.html" . }}
  {{ end }}

<article class="flex-l w-90-l center ph3 flex-wrap justify-between">
    <header class="mt4 w-100">
      <aside class="instapaper_ignoref b quicksand tracked ttu">
        {{ .CurrentSection.Title }}
      </aside>

      {{- partials.IncludeCached "social/share.html" . . -}}

       <h2 class="centered-content single-flex" style="font-weight: normal;">
        {{- .Title -}}
       </h2>

      {{ with .Params.author | compare.Default .Site.Params.author }}
        <p class="tracked">
          {{- if compare.Eq $page.Language "de" "en" "es" "fr" "it" "no" "pt" -}}
            {{- lang.Translate "by" -}}
          {{ end -}} 
          <strong>
            {{- if reflect.IsSlice . -}}
                {{ collections.Delimit . ", " | transform.Markdownify }}
            {{- else -}}
                {{ . | transform.Markdownify }}
            {{- end -}}
          </strong>
        </p>
      {{ end }}

      {{ if not .Date.IsZero }}
        <time class="centered-content single-flex" {{ fmt.Printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safe.HTMLAttr }}>
          {{- .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) -}}
        </time>
      {{ end }}

      {{ if (or (compare.Eq (.Param "show_reading_time") true) (compare.Eq $section.Params.show_reading_time true) )}}
        <span class="f6 mv4 tracked"> - {{ lang.Translate "readingTime" .ReadingTime }} </span>
        <span class="f6 mv4 tracked"> - {{ lang.Translate "wordCount" .WordCount }} </span>
      {{ end }}
    </header>

    <!-- Keep your custom functionality here -->
<div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | compare.Default "serif"}} f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} w-100">
      {{ .Content }}
      {{- partials.Include "tags.html" . -}}
    </div>
  </article>
{{ end }}
