<footer class="bg-black-80 white pv4 ph3 ph5-m ph6-l">
  <div class="mw8 center flex flex-wrap justify-between items-start">
    <!-- Left column: Site info and contact details -->
    <div class="w-100 w-50-ns mb4 mb0-ns">
      <a class="f4 fw4 hover-white white-70 pv2 ph3 no-underline db" href="{{ .Site.Home.Permalink }}">
        {{ .Site.Title }}
      </a>
      <div class="mt3 lh-copy">
        <p class="f6 measure lh-copy">
          Gemeinsam für eine bessere Zukunft für Tiere in Not.<br>
          Serbien - Schweiz
        </p>
        <p class="f6 lh-copy">
          Email: 
          <a href="mailto:straysinneedserbia@gmail.com" class="link light-blue hover-white">
            straysinneedserbia@gmail.com
          </a>
        </p>
        <p class="f6 lh-copy">
          Besuche uns auch auf: 
          <a href="https://www.instagram.com/strays_in_need_serbia/" class="link light-blue hover-white">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </p>
        <p class="f6 lh-copy">
          Jede kleine Hilfe zählt! 
          <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
        </p>
      </div>
    </div>

    <!-- Right column: Donation account details -->
    <div class="w-100 w-40-ns lh-copy">
      <h3 class="f5 fw6 mb2">Spendenkonto</h3>
      <p class="f6">Verein Strays in Need Serbia</p>
      <p class="f6">9000 St. Gallen</p>
      <p class="f6">Aargauische Kantonalbank</p>
      <p class="f6">Kontonummer: 649297282001</p>
      <p class="f6">Bankclearing: 761</p>
      <p class="f6">IBAN: CH8100761649297282001</p>
      <p class="f6 mt3">
        <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
      </p>
    </div>
  </div>
</footer>
