<footer class="bg-black-80 white-80 pv4 ph3 ph5-m ph6-l">
      <a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <div class="mw8 center">
    <div class="mb3">
      <p class="f6 measure-wide lh-copy">
         Gemeinsam für eine bessere Zukunft für Tiere in Not.
         <br>
        Serbien - Schweiz
      </p>
    </div>
    <div class="f6 measure lh-copy">
      <p>Email: <a href="strays-in-need-serbia@gmail.com" class="link light-blue hover-white">strays-in-need-serbia@gmail.com</a></p>
      <p>Besuche uns auch auf 
        <a href="https://www.instagram.com/strays_in_need_serbia/" class="link light-blue hover-white">Instagram</a>
      </p>
      <p>Jede kleine Hilfe zählt! 
        <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
      </p>
      <br>
            <p><h3>Spendenkonto</h3>
                Verein Strays in need Serbia
                <br>
                9000 St. Gallen
                <br>
                Aargauische Kantonalbank
                <br>
                Kontonummer: 649297282001
                <br>
                Bankclearing 761
                <br>
                IBAN CH8100761649297282001
        <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
      </p>
    </div>
  </div>
</footer>
