<footer class="bg-black-80 white-80 pv4 ph3 ph5-m ph6-l">
  <div class="mw8 center flex justify-between">
    <div class="w-50">
      <a class="f4 fw4 hover-white white-70 pv2 ph3 no-underline db" href="{{ .Site.Home.Permalink }}">
        {{ .Site.Title }}
      </a>
      <div class="mt3 lh-solid">
        <p class="f6 measure-wide lh-solid">
          Gemeinsam für eine bessere Zukunft für Tiere in Not.
          <br>
          Serbien - Schweiz
        </p>
        <p>Email: 
          <a href="mailto:straysinneedserbia@gmail.com" class="link light-blue hover-white">
            straysinneedserbia@gmail.com
          </a>
        </p>
        <p>Besuche uns auch auf:
          <a href="https://www.instagram.com/strays_in_need_serbia/" class="link light-blue hover-white">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </p>
        <p>Jede kleine Hilfe zählt! 
          <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
        </p>
      </div>
    </div>
    <div class="mw6 lh-solid">
      <h3>Spendenkonto</h3>
      <p>Verein Strays in Need Serbia</p>
      <p>9000 St. Gallen</p>
      <p>Aargauische Kantonalbank</p>
      <p>Kontonummer: 649297282001</p>
      <p>Bankclearing: 761</p>
      <p>IBAN: CH8100761649297282001</p>
      <p>
        <a href="https://donate.raisenow.io/cctmf?lng=de/" class="link light-blue hover-white">Donate</a>
      </p>
    </div>
  </div>
</footer>

