<!-- Ensure site-navigation is always included -->
{{ partials.Include "site-navigation.html" . }}

{{ if or (compare.Eq .Kind "home") (compare.Eq .Kind "section") }}
  {{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
  {{ if $featured_image }}
    {{ $featured_image_class := site.Params.featured_image_class | compare.Default "cover bg-top" }}
    <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
      {{ $cover_dimming_class := site.Params.cover_dimming_class | compare.Default "bg-black-60" }}
      <div class="{{ $cover_dimming_class }}">
        <div class="tc-l pv2 pv4-l ph3 ph4-ns">
          <h1 class="f3 f1-l fw2 white-90 mb2 lh-title">
            {{ .Title | compare.Default .Site.Title }}
          </h1>
          {{ with .Params.description }}
            <h2 class="fw1 f6 f4-l white-80 measure-wide-l center mt2 mb3">
              {{ . }}
            </h2>
          {{ end }}
        </div>
      </div>
    </header>
  {{ else }}
<header>
      <div style="position: relative;">
        <img src="/images/Zoe-beispiel.jpg" alt="Strays in Need Serbia" style="width: 100%; height: auto;">
        <!-- Text-Overlay mit absoluter Positionierung -->
        <div style="
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white;
              text-align: center;
              background-color: rgba(0, 0, 0, 0.4); /* optional: leichte Dimmung für bessere Lesbarkeit */
              padding: 1rem;
              border-radius: 4px;">
          <h1 class="f3 f1-l fw2 light-silver mb2 lh-title">Welcome to Strays in need Serbia homepage</h1>
        </div>
      </div>
</header>

  {{ end }}
{{ end }}

