.centered-content {
  padding: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; 
  background-color: #f0fdf4;
  border: 1px solid #d1fae5;
  position: relative; 
}

@media (hover: none) and (pointer: coarse) {
  .gallery-preview-overlay {
    opacity: 1 !important;
  }
}

